body{
    font-family: 'Courier New', Courier, monospace;
}

body .container{
    width:100%;
}

/*Navbar*************************************/
body .navbar{
    display:flex;
    width:100%;
    height:75px;
    background-color:black;
    color:white;
}

.nav1{
    min-width: 75px;
    text-align: center;
    font-size: 1.25em;
    padding: 25px;
}

.nav2{
    min-width: 75px;
    text-align: center;
    font-size: 1.25em;
    padding: 25px;
}

.nav3{
    min-width: 75px;
    text-align: center;
    font-size: 1.25em;
    padding: 25px;
}

/*Banner**************************************/
.imagebg{
    display: flex;
    position: relative;
    text-align: center;
}

#banner-image{
    width: 100%;
    height: 850px;
    opacity: 0.7;
}

#banner-title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

#banner-subtitle{
    position: absolute;
    top:69%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
}

/*About Me**************************************/
.About-Me h1{
    text-align: center;
    font-size: 2.5em;
}

.About-Container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#bio{
    font-size: 1.1em;
    margin-left: 12.5%;
    width: 25%;
    flex-grow:1;
    flex-shrink: 1;
}

#experience{
    font-size: 1.1em;
    width: 25%;
    flex-grow:1;
    flex-shrink: 1;
}

#skills{
    font-size: 1.1em;
    margin-right:12.5%;
    width: 25%;
    flex-grow:1;
    flex-shrink: 1;    
}

/*Portfolio****************************/

.portfolio-heading h1{
    text-align: center;
    font-size: 2.5em;
}

.portfolio-container{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

#portfolio-img{
    height: 200px;
    width: 200px;
}

.portfolio-name{
    font-size: 2em;
}

.portfolio-info{
    font-size: 1em;
    margin-bottom: 50px;
}

.portfolio-set{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 15%;  
}

.contact{
    text-align: left;    
}

.footer{
    text-align: center;
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 25px;
}

/*auxillary*********************************/
hr{
     width: 50%;
     align-self:center;
}

a{
    border-bottom:0px solid #000;
    text-decoration:none;
}

a:visited{
    color:white;
}

a.underlined
{
    border-bottom-color:rgba(255,255,255,0);
}
